.App {
  text-align: center;
}
.done {
  color: red;
  text-decoration: line-through;
}
.uncomplete {
  color: rgba(0, 166, 255, 0.572);
}
.div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.539);
  width: 20%;
  margin-left: 40%;
  margin-top: 20px;
  box-shadow: 10px 10px 4px 0px rgba(0, 0, 0, 0.75);
}
